<div ng-controller="EtapasCtrl">
<h3>Etapas</h3>
<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-3 form-group">
		<div class="input-group input-group-sm">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input type="text" class="form-control" id="queryRanking" name="queryRanking" list="listarankings" ng-model="queryDescricao" placeholder="Escolha um Ranking ...">
			<datalist id="listarankings"><br/>
				<option ng-repeat="ranking in rankings" value="{{ ranking.descricao }}">{{ rankgin.descricao }}</option>
			</datalist>
		</div>		
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-sm-8 col-md-9">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>Data</th>
						<th>Nome</th>
						<th class="text-right">Valor Buyin</th>
						<th class="text-right">Fichas Buyin</th>
						<th class="text-right">Valor Addon</th>
						<th class="text-right">Fichas Addon</th>
						<th class="text-right">Ranking</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr id="{{ etapa.id }}" ng-repeat="etapa in etapas | filter:{ranking.descricao: queryDescricao}">
						<td>{{ etapa.data | date:"dd/MM/yyyy" }}</td>
						<td>{{ etapa.nome }}</td>
						<td class="text-right">{{ etapa.valor_buyin | currency:"R$ "}}</td>
						<td class="text-right">{{ etapa.fichas_buyin }}</td>
						<td class="text-right">{{ etapa.valor_addon | currency:"R$ "}}</td>
						<td class="text-right">{{ etapa.fichas_addon }}</td>
						<td class="text-right">{{ etapa.ranking.descricao }}</td>
						<td class="text-right">
							<button id="{{ etapa.id }}" type="button" class="btn btn-default btn-xs" tooltip-placement="right" tooltip="Excluir" >
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>      
</div>
